.App {
  height: 100vh;
  text-align: center;
}

/* // => ------  BOOTSTRAP OVERWRITES ------- <= // */

/* update the color for all forms label, overwriting bootstrap */
.form-label {
  color: #227c9d;
}

.card-body {
  color: #293072;
}

.card-body .card-title {
  color: #227c9d;
}

#card__text {
  display: inline;
  color: #1d9f93 !important;
}

.list-group-item {
  color: #293072;
}

/* // => ------ END ---------  <=// */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
